version: "3.8"

services:
  expr:
    image: fina
    build:
      context: ./
      dockerfile: ./expr/Dockerfile
    ports:
      - "50051:50051"
    networks:
      - redis_network
  redis:
    image: redis/redis-stack
    ports:
      - "6379:6379"
      - "13333:8001"
    networks:
      - redis_network

networks:
  redis_network:
    driver: bridge

