version: "3.8"

services:
  transaction:
    image: fina
    build:
      context: ./
      args:
        - PACKAGE_NAME=transaction
    ports:
      - "5000:5000"
  redis:
    image: redis/redis-stack
    ports:
      - "6379:6379"

